<form (submit)="add($event)">
 
    <div class = "">
      <label for="id">Id</label>
      <input type="text" id="id" name="id" [(ngModel)]="attendance.id" required>
    </div>
 
    <div class = "">
        <label for="uniqueId">Student ID</label>
        <input type="text" id="importId" name="importId" [(ngModel)]="attendance.studentId" required>
    </div>
 
    <div>
      <label for="Date">Date</label>
      <input type="date" id="Date" name="Date" [(ngModel)]="attendance.date" required>
    </div>
 
    <div>
      <label for="Status">Status</label>
      <input type="text" id="Status" name="Status" [(ngModel)]="attendance.status" required>
    </div>
 
    <button type="submit">Mark Attendance</button>
</form>